:root {
    --dark: #1E202B;
    --blue: #009AD8;
}

.navbar {
    background-color: var(--dark);
}

a {
    text-decoration: none;
    color: white;
}

.banner {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn {
    top: 4px;
    right: 3px;
    background-color: var(--dark);
    color: white;
    border: none;
}

input {
    background-color: var(--dark);
}

.card {
    background-color: var(--dark);
}

footer {
    background-color: var(--dark);
}